.rating span {
  margin: 0.1rem;
}
#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Loader {
  text-align: center;
}

.loader-body {
  position: absolute;
  left: 55%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Loader h3 {
  margin-top: 15px;
}
.navbar {
  color: var(--bs-white);
}
p {
  color: var(--bs-white);
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}
.sub-text {
  font-size: 1.2rem;
  color: #999;
}

h1 {
  margin: 2.8rem 0 !important;
}
.error-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: easeload;
  animation-duration: 2s;
}

@keyframes easeload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form div {
  margin: 1.8rem;
}

.hide {
  transition: all 0.01s;
  opacity: 0;
}
.change-flex {
  flex-direction: column;
}
.jGeaPm .head-div {
  padding: 35px 30px !important;
}
.sidebar-form {
  margin: 0 0.5rem;
}

.sidebar-form button {
  position: absolute;
  right: 0%;
  background: transparent;
  border: none;
}

.sidebar-form button:hover {
  color: #919aa1 !important;
  background-color: transparent !important;
}
.sidebar-form button:active {
  color: #919aa1 !important;
  background-color: transparent !important;
}
.sidebar-form button:focus {
  color: #919aa1 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.button-icon-position {
  right: 15% !important ;
}
.icon-suffix {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.footer {
  color: var(--bs-white);
  background-color: rgb(51, 51, 51);
}
.footer h6,
.footer p,
.footer a {
  color: var(--bs-white) !important;
}
.page-screen {
  min-height: 100vh;
}
.login-form div {
  margin: 2.3rem 0 !important;
}
.margin-auto {
  margin: 0 auto !important;
}
.header {
  color: var(--bs-white);
  background-color: rgb(51, 51, 51);
  padding: 1.2rem 0;
}

.link-color-white {
  color: var(--bs-white);
}
.link-color-white:hover {
  color: var(--bs-white);
}
.subtext {
  color: #919aa1;
}
.img-responsive {
  width: 100%;
  object-fit: cover;
}
.home-product-card {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-product-card div h1 {
  letter-spacing: 7.8px;
  font-size: 3vw;
  font-weight: bold;
  margin: 8px !important;
  font-family: "Pacifico", cursive;
}
.remove-padding {
  padding: 0 !important;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 51, 51) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  border-radius: 500px;
  border: 3px solid #ffffff;
}
.footer-developer {
  display: block;
  font-family: "Pacifico", cursive;
}
.category-button {
  outline: none !important;
  border: none !important;
}
.nav-item {
  margin-right: 0 !important;
  text-align: center;
  margin: 8px 0;
}
.nav-item a {
  padding: 0 !important;
  text-align: center;
  white-space: nowrap;
}
.checkout-step-number span {
  text-align: center;
  background-color: #c9c9c9;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 100%;
}
