.rating span {
  margin: 0.1rem;
}
#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Loader {
  text-align: center;
}

.loader-body {
  position: absolute;
  left: 55%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Loader h3 {
  margin-top: 15px;
}
.navbar {
  color: var(--bs-white);
}
p {
  color: var(--bs-white);
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}
.sub-text {
  font-size: 1.2rem;
  color: #999;
}

h1 {
  margin: 2.8rem 0 !important;
}
.error-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: easeload;
  animation-duration: 2s;
}

@keyframes easeload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form div {
  margin: 1.8rem;
}

.hide {
  transition: all 0.01s;
  opacity: 0;
}
.change-flex {
  flex-direction: column;
}
.jGeaPm .head-div {
  padding: 35px 30px !important;
}
.sidebar-form {
  margin: 0 0.5rem;
}

.sidebar-form button {
  position: absolute;
  right: 0%;
  background: transparent;
  border: none;
}

.sidebar-form button:hover {
  color: #919aa1 !important;
  background-color: transparent !important;
}
.sidebar-form button:active {
  color: #919aa1 !important;
  background-color: transparent !important;
}
.sidebar-form button:focus {
  color: #919aa1 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.button-icon-position {
  right: 15% !important ;
}
.icon-suffix {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.footer {
  color: var(--bs-white);
  background-color: rgb(51, 51, 51);
}
.footer h6,
.footer p,
.footer a {
  color: var(--bs-white) !important;
}
.page-screen {
  min-height: 100vh;
}
.login-form div {
  margin: 2.3rem 0 !important;
}
.margin-auto {
  margin: 0 auto;
}
.header {
  color: var(--bs-white);
  background-color: rgb(51, 51, 51);
  padding: 1.2rem 0;
}

.link-color-white {
  color: var(--bs-white);
}
.subtext {
  color: #919aa1;
}
.img-responsive {
  width: 100%;
}
.home-product-card {
  position: relative;
  text-align: center;
}
.home-product-card-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #000;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-product-card-text h1 {
  letter-spacing: 7.8px;
  font-size: 3vw;
  font-weight: bold;
  margin: 8px !important;
}
